@{

}

@{
    ViewData["Title"] = "Create new Foodie";
}


<div class="login-container">
    <div class="form-container">
        <form class="simple-form" id="login" asp-action="Create" asp-controller="Register" accept-charset="UTF-8" method="post" autocomplete="on">
            <h1 class="title">Create your new Foodie Account!</h1>
            <p>Do you have an account? <a asp-controller="Login" asp-action="Index">Sign up</a></p>
            <div class="fields-group">
                <div class="input-label">
                    <input class="input-fields" aria-label="Full Name" autocomplete="on" placeholder="Full name"
                           type="text" name="user[full_name]" id="user_fullName">
                </div>
                <div class="input-label">
                    <input class="input-fields" aria-label="Username" autocomplete="on" placeholder="Username" pattern="[a-zA-Z0-9_]+" maxlength="30" required="required"
                           aria-required="true" size="30" type="text" name="user[username]"
                           id="user_username">
                </div>
                <div class="input-label">
                    <div class="dob-append">Date of Birth</div>
                    <input class="input-fields" aria-label="Birthday" autocomplete="off"
                           type="date" name="user[birthday]" id="user_birthday">
                </div>
                <div class="input-label">
                    <input class="input-fields" aria-label="E-mail address" autocomplete="off"
                           required="required" aria-required="true" placeholder="E-mail address"
                           type="email" name="user[email]" id="user_email">
                </div>
                <div class="input-label">
                    <input class="input-fields" aria-label="Password" autocomplete="new-password" minlength="8" maxlength="72"
                           required="required" aria-required="true" placeholder="Password"
                           size="72" type="password" name="user[password]" id="user_password" aria-autocomplete="list">
                </div>
                <div class="input-label">
                    <input class="input-fields" aria-label="Confirm password" autocomplete="new-password"
                           required="required" aria-required="true" placeholder="Re-enter password"
                           type="password" name="user[password_confirmation]" id="user_password_confirmation">
                </div>
            </div>
                <fieldset>
                    <legend id="select-gender">Select a gender:</legend>
                    <div class="radio-buttons-container">
                        <label>
                        <input type="radio" id="male" name="gender" value="male">
                        Male</label>
                        <label>
                        <input type="radio" id="female" name="gender" value="female">
                        Female</label>
                        <label>
                        <input type="radio" id="unknown" name="gender" value="unknown">
                        I Prefer not to answer</label>
                    </div>
                    
                </fieldset>

            <p>Address</p>
            <div class="input-label">
                <input class="input-fields" aria-label="Addres street number" autocomplete="on"
                       required="required" aria-required="true" placeholder="Street and no."
                       type="text" name="user[address_streetNr]" id="user_street_nr">
            </div>
            <div class="input-label-postal-city">
                <input class="input-fields-postal" aria-label="Postal code" autocomplete="on"
                       required="required" aria-required="true" placeholder="Postal code"
                       type="text" name="user[address_postalCode]" id="user_postal_code">
                <input class="input-fields-city" aria-label="City" autocomplete="on"
                       required="required" aria-required="true" placeholder="City"
                       type="text" name="user[address_city]" id="user_city">
            </div>
            <div class="input-label">
                <input class="input-fields" aria-label="Phone number" autocomplete="on"
                       required="required" aria-required="true" placeholder="Phone nr xxx-xxx-xxx"
                       type="tel" name="user[phone_nr]" id="user_phone_nr">
            </div>
            <section>
                <select class="select-country" name="country" id="country">
                    <option value="">Please select country</option>
                    <option value="Poland">Poland</option>
                </select>
            </section>
            <div class="btn-field">
                <button class="button-53" id="registerBtn" action="submit">Submit</button>
            </div>
        </form>
    </div>
</div>


