@{
    ViewData["Title"] = "Login";
}

<div class="login-container">
    <div class="form-container">
        <form class="simple-form" id="new_user" action="/auth" accept-charset="UTF-8" method="post">
            <h1 class="title">Log into your account</h1>
            <p>Don't you have an account? <a href="#">Sign in now!</a></p>
            <p>Hello Foodie my Friend!</p>
            <div class="fields-group">
                <div class="intput-label">
                    <input class="input-fields" aria-label="Username"
                           autocomplete="off" required="required"
                           placeholder="Username / Email"
                           type="text" name="user[Username]" id="userName" />
                </div>
                <div class="input-label">
                    <input class="input-fields" aria-label="Password" autocomplete="off"
                           minlength="8" maxlength="72" required="required"
                           aria-required="true" placeholder="Password"
                           size="72" type="password" name="user[password]"
                           id="userPassword" aria-autocomplete="list">
                </div>
                <div class="remember-me--forget-password">
                    <label>
                        <input type="checkbox" name="rememberMe" checked />
                        <span class="text-checkbox">Remember me</span>
                    </label>
                    <p><a href="#">Forgot password?</a></p>
                </div>
                <div class="btn-field">
                    <button id="loginBtn" class="button-53" type="submit">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>