@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a asp-controller="Login" asp-action="Index">Login</a>
    </p>
</div>
        <div class="wrapper">
            <div class="profile container">
                <h2>Profile</h2>
                <figure>
                    <img src="https://via.placeholder.com/150" alt="profile image">
                    <figcaption>Profile Image</figcaption>
                </figure>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
            </div>
            <div class="carts container">
                <div id="feed">
                </div>
            </div>
            <div class="cart-details container">
                <h2>Cart Details</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
            </div>
        </div>
  
   