@model VLC.Models.Recipes.Hits

@{
    ViewData["Title"] = "SearchRecipesByQuery";
}
    <section>
        <partial name="_RecipeSearchPageNav" model="Model" />
        @for(int i=0; i<Model.HitsList.Count; i++)
        {
            ViewData["hit-iterator-value"] = i;
            @await Html.PartialAsync("_Hit.cshtml", Model.HitsList[i]);
        }
    </section>
