@import url("https://use.typekit.net/jam7xgr.css");

:root {
    --whitelight: #fcfcfc;
    --red-hue: #f6240d;
    --brown-hue: #a4561d;
    --light-green-hue: #52882e;
    --green-hue: #00ba3f;
    --font-size: 16px;
}

html, body {
    font-family: 'macha', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    background-color: var(--whitelight);
    padding: 0;
    margin: 0;
}

.container-fluid {
    display: flex;
    flex-direction: row;
}

#logo:hover {
    transform: scale(1.1);
}

.card-deck {
    margin: 3em;
    padding: 1em;
    min-width: 80%;
    align-items: stretch;
    justify-content: space-around;
}


.card {
    margin: 1em;
    padding: 2em;
    align-self: stretch;
    align-items: flex-start;
    justify-content: stretch;
}

#welcome .card{
    width: fit-content;
}


main {
    margin-top: 4em;
}

footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 100, 0);
    color: white;
    text-align: center;
    margin-top: 20vh;
}

figure {
    margin: 0;
}

#logo {
    height: 100px;
    padding: 10px 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'fira-sans', sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    padding: 0.5em;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto) minmax(max-content, 2fr);
    /* border: 3px solid var(--red-hue); */
}

.profile {
    grid-column: 1;
    grid-row: 1;
    background-color: var(--whitelight);
}

    .profile img {
        width: 50px;
        object-fit: cover;
        border-radius: 50%;
    }

.carts {
    grid-column: 2;
    grid-row: 1;
    background-color: var(--brown-hue);
    min-height: 100px;
}

.cart-details {
    grid-column: 3;
    grid-row: 1;
    background-color: var(--light-green-hue);
}


figcaption {
    font-size: x-small;
    color: gray;
    margin: 0;
    padding: 0;
    text-align: justify;
}

#copyright {
    font-size: x-small;
    color: gray;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* fonts */
.fira-sans {
    font-family: 'fira-sans', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.macha {
    font-family: 'macha', sans-serif;
    font-weight: 400;
    font-style: normal;
}


.section {
    flex-wrap: wrap;
}


/* NAVIGATION BAR */
/*nav {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;

}*/
/*
    nav img {
        height: 100px;
        border-radius: 50%;
        margin: 0.5rem;
    }*/


/*nav ul {
        height: 50px;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        flex-grow: 1;
        flex-wrap: nowrap;
        margin: auto;
        padding: 0.5em;
    }

        nav ul li {
            padding: 0.5em;
            flex-grow: inherit;
            align-self: center;
            text-align: center;
        }

            nav ul li:hover {
                /*                background-color: var(--light-green-hue);
border-top: 5px groove var(--light-green-hue);
                transform: translateY(0.5em);
            }

            nav ul li a:hover {
                color: white;
            }

            nav ul li a:active {
                color: red;
            }

            nav ul li a:visited {
                color: sandybrown;
            }

                nav ul li a:link {
                    color: white;
                }*/



/* Login Page and Registration container */
.login-container {
    width: 700px;
    font-family: 'macha', sans-serif;
    margin: 50px auto;
    background-color: rgb(0, 100, 0, 0.1);
}

.form-container {
    max-width: 450px;
    padding: 5px 5px 50px 5px;
    margin: 0 auto;
}

.simple-form .title {
    font-size: 25px;
    line-height: 33px;
    font-weight: 700;
    margin-bottom: 30px;
}

.simple-form p {
    font-size: large;
    margin-bottom: 20px;
}

.simple-form .fields-group {
    margin-bottom: 20px;
}

.simple-form .input-fields {
    margin-bottom: 8px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid black;
}

.simple-form .fields-group .remember-me--forget-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.simple-form .fields-group .label {
    display: block;
    position: relative;
    margin-left: 30px;
}

.simple-form .remember-me--forget-password .text-checkbox {
    display: inline-block;
    height: auto;
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
}

.simple-form .remember-me--forget-password p {
    font-size: medium;
}

.sign-in-with {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* Login page button */
.simple-form .btn-field {
    float: right;
    margin-right: 30px;
    font-size: 16px;
    margin-top: 30px;
    width: 100px;
}

.button-53 {
    background-color: rgb(0 100 0);
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .button-53:focus {
        outline: 0;
    }

    .button-53:after {
        content: '';
        position: absolute;
        border: 1px solid #000000;
        bottom: 4px;
        left: 4px;
        width: calc(100% - 1px);
        height: calc(100% - 1px);
    }

    .button-53:hover:after {
        bottom: 2px;
        left: 2px;
    }

@media (min-width: 768px) {
    .button-53 {
        padding: .75rem 3rem;
        font-size: 1.25rem;
    }
}

/* MealManager Calculator layout */
.modal-container {
    width: 600px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.text-small {
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0.3px;
}

.three-segment-radio .btn {
    width: 33.3%;
}



.btn-modal {
    font-size: inherit;
    stroke: #000000;
    padding: 10px;
}


.stretch-it {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 5px;
}

.label-align {
    position: relative;
    align-items: center;
    margin-bottom: 10px;
}

.radio-flex {
    padding: 8px;
}

.input-no-border {
    border: none;
    padding: 8px;
}


.label-absolute {
    display: inline-block;
    position: absolute;
    right: 210px;
    margin-top: 9px;
}

.bfat_percent {
    font-size: 11px;
    color: #a9a8a9;
    display: inline-block;
    width: 32%;
    text-align: center;
}

.form-control-act {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: none;
}

.btn-green {
    font-size: large;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    color: #fff;
    background-color: #00ba3f;
    border-color: #52882e;
    border-radius: 10px;
}

.edit-container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

/* ------------------------------- */

/* Register page */
.simple-form #select-gender {
    margin-left: 10px;
    font-size: medium;
}

.simple-form .radio-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 15px;
}



.simple-form .input-label-postal-city {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 8px;
}

    .simple-form .input-label-postal-city .input-fields-postal {
        width: 30%;
        padding: 10px;
        font-size: 16px;
        font-family: inherit;
        border-radius: 4px;
        border: 1px solid black;
    }

    .simple-form .input-label-postal-city .input-fields-city {
        width: 70%;
        padding: 10px;
        font-size: 16px;
        font-family: inherit;
        border-radius: 4px;
        border: 1px solid black;
    }

.simple-form .select-country {
    border-radius: 4px;
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
}
/* ------------------------------ */

.dob-append {
    margin-bottom: 10px;
    font-size: small;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*   QUERY SEARCH RESULT PAGE     */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

section #main {
    /*    padding-top: 15px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    min-width: 600px;
    max-width: 80%;
    flex-direction: initial;*/
    margin-top: 50px;
    width: 80%;
}

.top-line {
    width: 100%;
    left: 0px;
    top: 51px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}

    .top-line .inner {
        height: auto;
        border-bottom: 1px solid #D9D9D9;
        background: url(https://www.edamam.com/images/pattern-bgr-site.jpg) repeat center center;
    }

        .top-line .inner dl {
            text-align: right;
            font-size: 12px;
            margin-right: 30px;
        }

#recipe-data {
    width: 90%;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
/*    box-shadow: 2px 2px 20px black;*/
}

    #recipe-data img {
        padding: 10px;
    }

.recipe-right {
    text-align: center;
}

.recipe-header {
    padding: 20px 10px 0px 10px;
    flex-wrap: wrap;
}

.save-button {
    margin-left: 70px;
}

.rating-buttons {
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

    .rating-buttons ul {
        list-style-type: none;
        margin: 0;
        padding: 10px;
    }

    .rating-buttons li {
        align-self: center;
        display: inline;
    }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*   QUERY SEARCH RECIPE HEADER NUTRITION   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.recipe-nutrition {
    margin-top: 0;
    border-top: 1px solid #cbc0aa;
}

    .recipe-nutrition ul {
        width: 100%;
        float: left;
        clear: both;
    }

        .recipe-nutrition ul li {
            margin: 0 !important;
            display: inline-block;
            float: left;
        }

            .recipe-nutrition ul li .nutrients-inner {
                padding: 6px;
                display: flex;
                flex-direction: column;
                border-radius: 2px;
                border: 1px solid #1e282f;
                text-align: center;
                width: 70px;
                cursor: pointer;
            }

            .recipe-nutrition ul li .title {
                font-size: 12px;
            }

            .recipe-nutrition ul li .top {
                font-size: var(--font-size);
                border-bottom: 1px solid #dcdcdc;
            }

            .recipe-nutrition ul li .bottom {
                font-size: var(--font-size);
            }

            .recipe-nutrition ul li .span {
                padding-bottom: 6px;
                line-height: 1;
            }

        .per-serving {
            font-size: 12px;
            line-height: 24px;
            font-weight: 700;
            text-transform: uppercase;
            padding-right: 15px;
        }

.nutrients {
    display: block;
    min-height: auto;
}

@media (max-width: 576px) {
    .xs {
        color: red;
        font-weight: bold;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width:768px) {
    .sm {
        color: red;
        font-weight: bold;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width:992px) {
    .md {
        color: red;
        font-weight: bold;
    }
    #recipe-header {
        font-size: 0.8rem;
        word-wrap: break-word;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1200px) {
    .lg {
        color: red;
        font-weight: bold;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .xl {
        color: red;
        font-weight: bold;
    }
}

#hits {
    width: auto;
}

