@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

@{
    <div class="container text-center">

        <div class="row justify-content-center">
            <h1>Welcome! Your username is "@Model.Email"</h1>

            @if (@Model.DisplayConfirmAccountLink)
            {
                <div class="col-md-auto">
                    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                </div>
            }
            else
            {
                <div class="col-md-auto">
                    Please check your email to confirm your account.
                </div>
            }
        </div>
    </div>
        }

