@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

@{
    <div class="container text-center">

        <div class="row justify-content-center">
            <h1>Welcome!</h1>

            @if (@Model.DisplayConfirmAccountLink)
            {
                <div class="col-md-auto">
                    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf"> these docs </a>for how to configure a real email sender.
                    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                </div>
            }
            else
            {
                <div class="col-md-auto">
                    Please check your email to confirm your account.
                </div>
            }
        </div>
    </div>
        }

